@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body {
    font-family: "Lato", sans-serif;
    color: #484F56;

}

a {
    color: #484F56;

}

* {
    margin: 0px;
    padding: 0px;
}

/* ------------------------------------------------ */
/* Hero-Page| START */
/* Navbar-start */
.navbar-nav .nav-link.active,
.nav-link {
    font-weight: 600;
    text-transform: uppercase;

}


.nav-link {
    position: relative;
    padding-bottom: 10px;
    margin-right: 15px;

}

.nav-link::after {
    content: " ";
    width: 0;
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    top: 75%;
    left: 0;
    transition: 0.3s;

}

.nav-link:hover::after {
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
}

.navLogin {
    width: 13%;
}

.shopping-bag-numbers {
    width: 20px;
    height: 20px;
    background-color: #E79C96;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    font-weight: bold;

}

/* Navbar-end */
/* silde imgs-start */
.hero-slides .card {
    border: none;
    border-bottom: 1px solid gray;

}

.home-silde-1 {
    background-image: url(../IMGS/home-slide-1.webp);
    background-position: center;
    background-size: cover;

}

.home-silde-2 {
    background-image: url(../IMGS/home-slide-2.webp);
    background-position: center;
    background-size: cover;
}

.home-silde-3 {
    background-image: url(../IMGS/home-slide-3.webp);
    background-position: center;
    background-size: cover;
}


.home-silde-layer {
    background-color: rgba(0, 0, 0, 0.3);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.silde-content {
    width: 400px;
    text-align: center;
    margin: auto;
    color: #fff;
    font-weight: bold;

}

.silde-content h4 {
    font-size: 14px;
    margin: 0px 0px 20px;
}

.silde-content h1 {
    font-size: 72px;
    margin: 0px 0px 16px;
}


.silde-content p {
    font-size: 18px;
    margin: 0px 0px 35px;
}

.silde-content h6 {
    font-size: 12px;
    margin: 0px 0px 5px;
    padding-top: 20px;
    text-transform: uppercase;
    position: relative;
}

.silde-content h6::after {
    content: " ";
    width: 70px;
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    top: 100%;
    left: 41%;
    transition: 0.3s;


}


.silde-content h6:hover::after {
    cursor: pointer;
    animation-name: shopNow;
    animation-duration: 1s;
}


@keyframes shopNow {
    10% {
        width: 0px;

    }

    30% {
        width: 50px;

    }

    70% {
        width: 70px;

    }
}


.hero-content {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-email a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.hero-links {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.hero-links h4 {
    font-size: 12px;
    margin-bottom: 0;
}


/* silde imgs-end */
/* Hero-Page| END */
/* ------------------------------------------------ */
/* Viedo-Page| START */
.video-right {
    display: flex;
    flex-wrap: wrap;

}

.video-logo {
    display: flex;
    align-items: center;
}

.video-right p {
    font-size: 31px;
    font-style: italic;
}

.video-right img {
    width: 15%;
    margin: 20px;

}

.video-right a {
    font-size: 13px;
    font-weight: bolder;
    position: relative;
    text-decoration: none;

}

.video-right a::after {
    content: " ";
    width: 0px;
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    top: 90%;
    left: 0px;
    transition: 0.3s;

}

.video-right a:hover::after {
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    width: 100%;


}

/* Video-Page| END */
/* ------------------------------------------------ */
/* Gallery-Page| START */
.gallery-title h6 {
    font-size: 19px;
    color: #1559B6;
    font-weight: bold;
    padding-bottom: 15px;
}

.gallery-title p {
    width: 30%;
    margin: 0px auto 40px;

}

.gallery-title a {
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;

}

.gallery-photes img:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* Gallery-Page| END */
/* ------------------------------------------------ */
@media (max-width:576px) {
    .navLogin {
        width: 50%;
    }

    .video-right iframe {
        width: 100%;
    }

    .video-right p {
        width: 100% !important;
    }

    .gallery-photes .row {
        gap: 15px;
    }

    .gallery-title p {
        width: 70%;
    }
}

/* ------------------------------------------------ */
/* Products-Description-Page| START */
/* Products-start */
.products-content {
    margin-top: 30px;
    overflow: hidden;
}

.product-left img {
    width: 100%;
}

.product-right a {
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}



.product-category {
    display: flex;
    justify-content: space-between;

}

.category-arrows {
    transform: translatex(90%);
    display: flex;
    gap: 10px;

}

.category-arrows svg:hover {
    cursor: pointer;
    transform: scale(0.8);
    transition: 0.5s;

}


.product-right h1 {
    margin: 30px 0px 20px;
}

.product-right h6 {
    margin: 20px 0px 20px;
    font-size: 20px;
    font-weight: bold;
}

.product-right p {
    font-weight: 300;
}

.product-right svg {
    width: 3%;
    opacity: 0.3;
}

.product-right span {
    text-transform: uppercase;
    font-size: 12px;
    padding-left: 10px;
    font-weight: bold;

}

.product-card {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.addToCard {
    width: 50%;
    height: 50px;
    background-color: #212529;
    display: flex;
    align-items: center;
}

.numbers {
    width: 30%;
    padding: 8px 6px;
    margin: 6px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers span {
    width: 100%;
    font-size: 17px;
}

.number {
    border-left: 2px solid #aaadb0;
    border-right: 2px solid #aaadb0;
}

.card-button {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-button button {
    background-color: #212529;
    border: none;
    color: #fff;
    padding: 10px 20px;
}

.card-button:hover,
.card-button button:hover {
    background-color: #000;
}

.addToWishlist svg {
    width: 20px;
    opacity: 1;
    margin-left: 20px;
}

.addToWishlist a {
    margin-left: 5px;
    font-size: 13px;
    position: relative;
}

.addToWishlist a::after {
    content: " ";
    width: 0px;
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    top: 100%;
    left: 0px;
    transition: 0.3s;

}

.addToWishlist a:hover::after {
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    width: 90%;
}

.icons-container P {
    font-size: 12px;
    margin: 20px 0px;
    font-weight: 300;
}

.icons-container div span {
    font-size: 12px;
    font-weight: 300;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icons a svg {
    width: 20px;
    opacity: 0.6;
}


@media (max-width:576px) {
    .card-button button {
        font-size: 13px;
        padding: 10px;
    }

    .numbers span {
        font-size: 14px;
    }
}

/* Products-end  */
/* Description-start */
/* Info-start */
.description-info {
    margin-top: 50px;
}

.description-info h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 22px;
}

.description-info p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
    width: 75%;
}

.description-text {
    margin-bottom: 0px !important;
}

.description-info a {
    text-decoration: none;
}

.description-info h6 {
    font-weight: bold;
}

.description-right {
    display: flex;
    justify-content: space-between;
}

.description-right h5 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 0px;
}

.description-right h4 {
    font-size: 14px;
    font-weight: 300;
    padding: 8px 0px;
}

@media (max-width:576px) {
    .description-info p {
        width: 100%;
    }
}

/* Info-end */
/* Review-start */
.review-button {
    margin-top: 35px;
}

.review-button button {
    width: 100%;
    background-color: #fff;
    border: 1px #aaadb0 solid;
    text-transform: uppercase;
    font-size: 13px;
    color: #353b41;
    padding: 10px 0px;
}

.review-button button:hover {
    border-color: #212529;

}

.add-review {
    width: 70%;
    margin: auto;
}

.add-review h2 {
    font-size: 32px;
    margin: 40px 0px;
}

.add-review div {
    display: flex;
    justify-content: space-between;
}


.add-review div button {
    font-size: 12px;
    font-weight: bold;
    background-color: #212529;
    color: #fff;
    border: none;
    padding: 5px 20px;
}

.add-review div button:hover {
    background-color: #000;
}

.review-container {
    width: 70%;
    margin: 50px auto;
}

.review-container h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.review-container p {
    font-size: 13px;
}

.review-stars {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 13px;
}

.review-stars h6 {
    font-size: 13px;
    margin: 0px;
}

.review-stars svg {
    width: 15px;
    opacity: 0.7;
}

.review-form form {
    margin-top: 30px;
}

.review-form input:focus {
    border-color: none;
}

.review-form form .label-text {
    font-size: 13px;
    margin-bottom: 10px;
    width: 100%;
    margin-top: 20px;

}

.review-form form textarea {
    width: 100%;
    padding: 50px 0px;

}

.review-form .input-button {
    width: 100%;
    padding: 10px 0px;
}

.form-control:focus {
    border-color: #aaadb0;
    box-shadow: none;
}

.check-button {
    margin-top: 20px;
}

.label-confirm {
    font-size: 13px;
    font-weight: 300;
    padding-left: 10px;
}

.review-form button {
    display: block;
    background-color: #DFE3E7;
    border: none;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 25px 0px;
}

.review-form button:hover {
    background-color: #c6c9cb;
}


@media (max-width:576px) {
    .add-review div {
        flex-direction: column;
    }
}

/* Review-end */
/* Description-end */
/* Products-Description-page| END */
/* ------------------------------------------------ */
